body {
    margin: 0;
}

.site-header {
    position: sticky;
    top: 0;
    background-color: #CEC0FA;
    z-index: 1000;
    padding: 15px;
    text-align: left;
}

main {
    padding: 15px;
}

article {
    margin-bottom: 20px;
    background-color: #6974DB;
    padding: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #CEC0FA;

}