body {
    display: grid;
    grid-template-rows: 60px 1fr minmax(650px, auto) minmax(100px, auto);
    background-color:#CEC0FA;
}

.site-header {
    display: flex;
    position: sticky;
    background-color: #CEC0FA;
    top: 0;
}

.top-nav {
    position: sticky;
    top: 60px;
    background-color: #6974DB;

}
.top-nav ul{
display: flex;
max-width: 960px;
margin: 0 auto;
}

.top-nav li{
    list-style: none;
    padding: 1em;
}

.top-nav a {
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: repeat (3,1fr);
    grid-template-rows: repeat (2,1fr);
    max-width: 960px;
    margin: 0 auto;
}

article, aside {
    padding: 1em;
}

.article1 {
    grid-column: 1;
    grid-row: 1;
    background-color: #A969DB;

}

.article2 {
    grid-column: 2;
    grid-row: 1;
    background-color: #CEC0FA ;
}

.article3 {
    grid-column: 1;
    grid-row: 2;
    background-color: #CF69DB;

}

.article4 {
    grid-column: 2;
    grid-row: 2;
    background-color: #DB69AE;

}

aside {
    grid-column: 3;
    grid-row: 1/3;
    background-color: #6974DB;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #6974DB;

}
footer li{
    list-style: none;
}
footer li a {
    text-decoration: none;
}
