body {
    margin: 0;
}

.site-header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #CEC0FA;
    padding: 15px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    display: block;

}

.top-nav {
    position: relative;
    background-color: #CEC0FA;
    z-index: 999;

}

.top-nav ul {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-nav ul.active {
    display: flex;
}

.top-nav li {
    padding: 1em;
}

.top-nav a {
    text-decoration: none;
}

main {
    padding: 15px;
}

article {
    margin-bottom: 20px;
    background-color: #6974DB;
    padding: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #CEC0FA;

}



















@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-rows: 60px 1fr minmax(650px, auto) minmax(100px, auto);
        background-color: white;
    }
    .hamburger { 
        display: none;

    }
    .site-header {
        display: flex;
        position: sticky;
        background-color: #CEC0FA;
        top: 0;
        z-index: 1000;
        align-items: center;
    }

    .top-nav {
        position: sticky;
        background-color: #CEC0FA;
        top: 60px;
        z-index: 999;

    }

    .top-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 960px;
        margin: 0;
    }

    .top-nav li {
        list-style: none;
        padding: 1em;
    }

    .top-nav a {
        text-decoration: none;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 960px;
        margin: 0 auto;
        gap: 10px;
    }

    article,
    aside {
        padding: 1em;
    }

    .article1 {
        grid-column: 1;
        grid-row: 1;
        background-color: #A969DB;

    }

    .article2 {
        grid-column: 2;
        grid-row: 1;
        background-color: #CEC0FA;
    }

    .article3 {
        grid-column: 1;
        grid-row: 2;
        background-color: #CF69DB;

    }

    .article4 {
        grid-column: 2;
        grid-row: 2;
        background-color: #DB69AE;

    }

    aside {
        grid-column: 3;
        grid-row: 1/3;
        background-color: #6974DB;
    }

    footer {
        display: flex;
        justify-content: space-between;
        background-color: #6974DB;

    }

    footer li {
        list-style: none;
    }

    footer li a {
        text-decoration: none;
    }
}